@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .duration-high {
    @apply transition-all duration-300 ease-in-out;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 40s linear infinite;
}
